## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [21]:
# Your code here
sample_list_1=(random.sample(range(0,100),k=80))
print(sample_list_1)

[21, 11, 81, 35, 25, 36, 84, 48, 61, 1, 31, 0, 44, 53, 74, 13, 14, 90, 17, 19, 57, 50, 42, 85, 76, 8, 47, 91, 2, 49, 4, 97, 46, 6, 92, 82, 89, 16, 64, 88, 58, 23, 26, 73, 32, 34, 45, 72, 95, 9, 66, 71, 7, 22, 18, 20, 69, 52, 77, 60, 94, 70, 27, 56, 93, 15, 12, 55, 83, 67, 28, 51, 3, 41, 63, 78, 33, 98, 24, 5]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [26]:
# Your code here
set1=set(sample_list_1)
print(len(set1))
#the length is the same because the values of the list are uniques

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [37]:
# utilizo la funcion random.choices que me devuelve una lista de elementos escogidos de la poblacion 0-100 con reemplazo->
# ->la funcion random.sample devuelve valores unicos
sample_list_2=random.choices(range(0,100),k=80)
print(sample_list_2)

[79, 24, 34, 4, 44, 89, 75, 81, 69, 7, 45, 45, 82, 0, 39, 55, 63, 31, 28, 74, 8, 40, 70, 34, 3, 36, 55, 49, 79, 55, 19, 68, 66, 75, 7, 29, 35, 91, 83, 37, 38, 24, 35, 76, 71, 7, 49, 95, 81, 47, 89, 74, 37, 88, 47, 58, 71, 65, 31, 44, 46, 57, 65, 1, 53, 83, 82, 8, 15, 14, 73, 68, 64, 11, 61, 86, 99, 82, 59, 14]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [38]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [54]:
# Your code here
set3=set()
set3=set1-set2
print((set3))

{2, 5, 6, 9, 12, 13, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 32, 33, 41, 42, 48, 50, 51, 52, 56, 60, 67, 72, 77, 78, 84, 85, 90, 92, 93, 94, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [53]:
# Your code here
set4=set()
set4=set2-set1
print(set4)

{65, 99, 68, 37, 38, 39, 40, 75, 79, 86, 59, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [48]:
# Your code here
set5=set1 & set2
print(set5)

{0, 1, 3, 4, 7, 8, 11, 14, 15, 19, 24, 28, 31, 34, 35, 36, 44, 45, 46, 47, 49, 53, 55, 57, 58, 61, 63, 64, 66, 69, 70, 71, 73, 74, 76, 81, 82, 83, 88, 89, 91, 95}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [61]:
# Your code here 
print(len(set1))#set con valores unicos, son 80 unicos
print(len(set2))#set con valores repetidos, unicamente 54 son unicos
print(len(set3))#set con valores presentes en set 1 y no en set 2
print(len(set4))#set con valores presentes en set 2 y no en set 1
print(len(set5))#set con valores presentes en set 1 y set 2: INTERSECCION: ELEMENTOS COMUNES
#la suma de la longitud de los sets originales (set1 y set 2) debe de ser igual a la suma de las restas y de la interseccion*2
len(set1)+len(set2)==len(set3)+len(set4)+(len(set5)*2)

80
54
38
12
42

True

#### Create an empty set called `set6`.

In [51]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [102]:
# Your code here
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [66]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [73]:
# Your code here
if set2.issubset(set1)==True:
    print("set1 contains set2")
else:
    print("set2 is not a subset of set1")
if set3.issubset(set1)==True:
    print("set3 is a subset of set1")
else:
    print("set3 is not a subset of set1")

set2 is not a subset of set1
set3 is a subset of set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [86]:
# Your code here
set3.union(set4,set5)==set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [87]:
# Your code here
print(set1.pop())

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [104]:
# Your code here, no he conseguido crear un for y un .pop(i)para quitar del set1 los elementos de la lista a borrar, por lo que->
#-> he creado un nuevo set y he incluido los elementos que no estan en la lista a borrar del set1
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set8=set()
for i in set1:
    if i in list_to_remove:
        continue
    else:
        set8.add(i)
print(set8)

{2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 42, 44, 45, 46, 47, 48, 50, 52, 53, 55, 56, 57, 58, 60, 63, 64, 66, 67, 70, 72, 73, 74, 76, 77, 78, 82, 83, 84, 85, 88, 90, 92, 93, 94, 95, 97, 98}